#pins.transitions-enabled.grid
  - @pins.each do |pin|
    .box.grid-item
      .panel-wrapper
        .panel_body
          %a.panel-body_img
            = link_to (image_tag pin.image.url), pin
          #btns.btns
            .index_shere-pin
              %button#sherepin.btn.btn-default
                %i.fa.fa-share-square-o
              = render 'render/shere-pin'

            .show_more-pin
              %button.btn
                %i.fa.fa-circle-o
                もっと見る
            .index_modal-btn
              %button#modalbtn.btn.btn-danger
                %i.fa.fa-pinterest-square
                保存
        .panel_footer
          #text.text-btn
            = link_to do
              %i.fa.fa-ellipsis-h
        = render 'render/index_modal-content'
