#user_edit
  .container
    .row-left
      .row-left_nav
        %ul
          %li
            %a{href: "#sec1"} アカウント情報
          %li
            %a{href: "#sec2"} お知らせ
          %li
            %a{href: "#sec3"} ホームフィード
          %li
            %a{href: "#sec4"} SNSアカウント
          %li
            %a{href: "#sec5"} セキュリティ
          %li
            %a{href: "#sec6"} アプリ

    .row-right
      .row-right_body
        %section#sec1.account-information
          %h6 アカウント情報
          .mail
            %p メールアドレス
            .mail_text-box
              %span aaa.com
          .password
            %p パスワード
            .password_change-box
              %span パスワードを変更
          .language
            %p 言語
            .language_box
              %span 日本語
          .country-of-residence
            %p 居住国
            .country-of-residence_box
              %span 日本(日本)
          .gender
            %p 性別
            %input#male.gender_radio-btn{:name => "gender", :type => "radio", :value => "male"}
              %span 男性
            %input#female.gender_radio-btn{:name => "gender", :type => "radio", :value => "female"}
              %span 女性
            %input#male.gender_radio-btn{:name => "gender", :type => "radio", :value => "unspecified"}
              %span カスタム
          .privacy
            %p 検索プライバシー
            %p 検索エンジン（例：Google）でプロフィールを非表示にします。詳細
          .Personalized
            %p パーソナライズ
            %p ユーザーがアクセスするサイトを元に、表示するおすすめや広告を改善しています。詳細
            %p Pinterest のパートナーからの利用情報を元に、ユーザーに表示するおすすめや広告を改善しています。詳細
          .search-history
            %p 検索履歴をクリア
            %p 検索したキーワードを検索履歴から削除します。
          .account
            %p アカウント
            %p アカウントを解除

        %section#sec2.profile
          .name
            %p プロフィール
            %p 名前
          .image
          .user-name
          .self-introduction
          .housing
          .web-site

        %section#sec3.home-feed
          .recommended-pin

        %section#sec4.sns
          .elaborate
        %section#sec5.security
        %section#sec6.app
