- @pins.each do |pin|
  #bg
    #modal
      .modal-content
        .modal-content_body
          .row-left
            .row-left_body
              .row-left_body-image
                = image_tag pin.image.url
              / %p
              /   = pin.title
          .row-right
            .row-right_header
              .container-fluid
                %button.close
                  %span ×
                %h2 ボードを選択
            .row-right_body
              .popularity-boards
                .popularity-boards_header
                  人気のボード
                  - @boards.each do |board|
                    .popularity-boards_body
                      .bord-table
                        = link_to add_board_path(board), method: :post do
                          .bord-table_img
                            /  = image_tag pin.image.url
                          %p
                            = board.name
                          %button.btn.btn-danger{:type => "button"} 保存
              .all-boards
                .all-boards_header
                  すべてのボード
                  - @boards.each do |board|
                    .all-boards_body
                      %a.bord-table
                        .bord-table_img
                          / = image_tag pin.image.url
                        %p
                          = board.name
                        %button.btn.btn-danger{:type => "button"} 保存

              .modal-content_footer
                %a.new-board
                  %i.fa.fa-plus-circle.fa-3x
                  %p 新規ボードを作成
