#tooltip
  .tooltip-wrapper
    .tooltip-header
      .tooltip-header_content
        %p アプリでピンをシェアする
        .icons
          %a.fl_fb
            %span.fbicon
              %i.fa.fa-facebook
          %a.fl_tw
            %span.twicon
              %i.fa.fa-twitter
          %a.insta_btn
            %span.insta
              %i.fa.fa-instagram
    .tooltip-body
      .tooltip-body_content
        .content_p
          %p 送信先を指定してシェアする：
        .content_form
          .content_form-box
            %i.fa.fa-search
            %p 名前/メールアドレス
    .tooltip-bottom
      .tooltip-bottom_content
        %span.addicon
          %i.fa.fa-address-book-o
        %p 連絡先から選択
