/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap";

body {
  background: rgba(255, 255, 255, 0.97);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

nav {
  height: 64px;
  width: 100%;
  padding: 4px 16px;
  .navber_header{
    padding: 4px;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    .navbar_brand {
      height: 50px;
      width: 96px;
      border-radius: 7px;
      &:hover{
        background-color: #efefef;
        a{
          text-decoration: none;
        }
      }
      &_row{
        text-align: center;
        .fa-pinterest{
          height: 28px;
          width: 28px;
          color: #BD1E23;
        }
        p{
          font-size: 10.3px;
          color: #b5b5b5;
          font-weight: bold;
        }
      }
    }
    .navber_form{
      height: 40px;
      width: 70%;
      background-color: #efefef;
      margin: 4px 16px;
      border-radius: 7px;
      color: #b5b5b5;
      i{
        font-size: 20px;
        line-height: 40px;
        padding: 0 16px;
        float: left;
      }
      p{
        font-size: 16px;
        font-weight: bold;
        line-height: 40px;
        float: left;
      }
    }
    .navbar_right{
      color: #b5b5b5;
      li{
        list-style: none;
        float: left;
      }
      &_btn{
        height: 46px;
        text-align: center;
        &:hover{
          background-color: #efefef;
          a{
            text-decoration: none;
          }
        }
        p{
          font-size: 10.3px;
          color: #b5b5b5;
        }
        a{
          color: #b5b5b5;
        }
      }
      .pic{
        height: 46px;
        width: 78px;
        padding: 2px 4px;
        border-radius: 7px;
      }
      .mypage{
        height: 46px;
        width: 67px;
        padding: 2px 4px;
        border-radius: 7px;
      }
      .info{
        height: 46px;
        width: 57px;
        padding: 2px 4px;
        border-radius: 7px;
      }
      .contribution{
        height: 46px;
        width: 57px;
        padding: 2px 4px;
        border-radius: 7px;
      }
    }
  }
}

.row{
  width: 100%;
  margin: 0 auto;
}

#edit_page {
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

textarea {
  min-height: 250px;
}
